body{
    background-color: rgb(17,17,17);
    color: white
}

h1{
    font-size: 2.5em;
    text-align: center;
    margin-top: 17%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 1.5em;
    margin-right: 4em;
    margin-top: 0%;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    color: hsl(0, 92%, 41%)
}

.navbar li{
    float: right
}

.navbar {
    background-color: hsl(246, 100%, 31%);
}


footer{
    display: block;
    background-color: hsla(246, 100%, 31%, 0.329);
    text-align: center;
}

.pic img{
    height: 470px;
    width: auto;
    object-fit: cover;
}

.pic{
    display: none;
}

#beach-pic img{
    rotate: 180deg;
}

#hobbies li{
    font-size: 1.5em;
    color: brown;
}

#hobbies li:hover + .pic{
    display: block;
}

.dropdown{
    display: inline-block;
}