body{
    font-family: 'Roboto';
}

#navbar li a{
    text-decoration: none;
}

#navbar li{
    display: inline-block;

}

#navbar ul{
    list-style-type: none;
}

#navbar{
    position: fixed;
    top: 0px;
    width: 100%;

}

img{
    height:150px;
}

#background-hd{
    display: block;
    width: 100%;
    background-color: black;
}