*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Roboto';
    height: 100%;
}

#greeting-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#main-greeting{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(17, 17, 17);
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 8;
}

#nc-img{
    grid-row-start:5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: visible;
}

#nc-img img{
    width: 150%;
    height: auto;
    position: relative; 
    transform: rotate(7deg);
}

#penn-logo{
    grid-row-start:3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
    overflow: visible;
}

#penn-logo img{
    width: 150%;
    height: auto;
    position: relative;
    transform: rotate(7deg);
}

#italy-img{
    grid-row-start:3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: visible;
}

#italy-img img{
    width: 110%;
    height: auto;
    position: relative; 
    transform: rotate(-7deg);
}

#morris-img{
    grid-row-start:5;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 7;
    overflow: visible;
}

#morris-img img{
    width: 70%;
    height: auto;
    position: relative; 
    transform: rotate(-7deg);
}

#about-me{
    position: relative;
}

#about-me h1{
    margin: 5% 7% 2% 7%;
    font-size: 2rem;
}

#about-me p{
    margin: 0% 21% 2% 7%;
    font-size: 1.25rem;
}

#about-me hr{
    width: 80%;
    height: 3px;
    border: none;
    background-color: rgb(1, 49, 148);
    margin: 0% 21% 2% 7%;  
}

#hobby-container {
    width: 100%;
}

#hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr;    /* Two rows */
    margin: 0% 7% 0% 7%;
    gap: 3.5%; /* Spacing between grid items */
}

.hobby-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7%;
    border: 4px solid darkblue;
    height: 100%;
    width: 100%;
    padding: 150px;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

#bible-hobby {
    background: linear-gradient(45deg, #8a2be2, #6a5acd, #4169e1, #1e90ff, #8a2be2); /* Loop colors */
    background-size: 200% 200%; /* Larger gradient size for more movement */
    animation: gradient-move 3s linear infinite;
}

#friend-hobby {
    background: linear-gradient(45deg, #ff7f50, #ff6347, #ff4500, #ffd700, #ff7f50); /* Loop colors */
    animation: gradient-move 3s linear infinite;
}

#skiing-hobby {
    background: linear-gradient(45deg, #00bfff, #87ceeb, #f0f8ff, #d3d3d3, #00bfff); /* Loop colors */
    background-size: 200% 200%;
    animation: gradient-move 3s linear infinite;
}

#Photography {
    background: linear-gradient(45deg, #ff69b4, #ff1493, #8b008b, #4b0082, #ff69b4); /* Loop colors */
    background-size: 200% 200%;
    animation: gradient-move 3s linear infinite;
}

/* Gradient Animation */
@keyframes gradient-move {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}


.hobby-box img {
    opacity: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.hobby-box:hover img {
    opacity: 1;
}

.hobby-box:hover{
    transform: scale(1.14);
}

.hobby-box h1,
.hobby-box p {
    position: relative;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
}

.hobby-box:hover h1,
.hobby-box:hover p {
    opacity: 0;
}

#beach-photo{
    transform: rotate(180deg);
}

#main-greeting h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid rgb(17, 17, 17);
    animation: typing 1.5s steps(30, end), blink 0.7s step-end infinite;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 25%
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: rgb(17, 17, 17);
    }
}